
<!-- START ABOUT SECTION -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="about-inner">
          <div class="row">
            <div class="col s12 m4 l3">
              <div class="about-inner-left">
                <img class="profile-img" src="assets/profile.jpg" alt="Profile Image">
              </div>
            </div>
            <div class="col s12 m8 l9">
              <div class="about-inner-right">
                <h3>About Me</h3>
                <p>I'm  full stack Ruby On Rails develper. having 2+ experiance in developing web application using ruby on rails technology.</p>
                <div class="personal-information col s12 m12 l6">
                  <h3>Personal Information</h3>
                  <ul>
                    <li><span>Name : </span>Ganesh Shrivas </li>
                    <li><span>Age : </span>25 Year</li>
                    <li><span>Phone : </span>+91 9424302770</li>
                    <li><span>Email : </span>ganesh071190@gmail.com</li>
                    <li><span>Address : </span>Flat N0-304 Mayuri Apartment, near lifeline hospital indore(M.P)</li>
                  </ul> 
                </div>
                <div class="resume-download col s12 m12 l6">
                  <a href="assets/Ganesh_resume.pdf" class="waves-effect waves-light btn-large resume-btn"><i class="mdi-content-archive left"></i> Download Resume</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>