<!-- Start Facts -->
<section id="facts">
<div class="facts-overlay">
  <div class="container">
  <div class="row">
    <div class="col s12">
      <div class="facts-inner">
        <div class="row">
          <div class="col s12 m4 l4">
            <div class="single-facts waves-effect waves-block waves-light">
              <i class="material-icons">work</i>
              <span class="counter">329</span>
              <span class="counter-text">Project Completed</span>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="single-facts waves-effect waves-block waves-light">
              <i class="material-icons">supervisor_account</i>
              <span class="counter">250</span>
              <span class="counter-text">Happy Clients</span>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="single-facts waves-effect waves-block waves-light">
              <i class="material-icons">redeem</i>
              <span class="counter">69</span>
              <span class="counter-text">Award Won</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
