
<!-- Start Footer -->
<footer id="footer" role="contentinfo">
<!-- Start Footer Top -->
<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="footer-top-inner">
          <h2 class="title">Contact</h2>
          <p>COMMING SOON...</p>
          <div class="contact">
            <div class="row">
              <div class="col s12 m6 l6">
                <div class="contact-form">
                  <form>
                    <div class="input-field">
                      <input type="text" class="input-box" name="contactName" id="contact-name">
                      <label class="input-label" for="contact-name">Name</label>
                    </div>
                    <div class="input-field">
                      <input type="email" class="input-box" name="contactEmail" id="email">
                      <label class="input-label" for="email">Email</label>
                    </div>
                    <div class="input-field">
                      <input type="text" class="input-box" name="contactSubject" id="subject">
                      <label class="input-label" for="subject">Subject</label>
                    </div>
                    <div class="input-field textarea-input">
                      <textarea class="materialize-textarea" name="contactMessage" id="textarea1"></textarea>
                      <label class="input-label" for="textarea1">Message</label>
                    </div>
                    <button class="left waves-effect btn-flat brand-text submit-btn" type="submit">send message</button>
                  </form>
                </div>
              </div>
              <div class="col s12 m6 l6">

                <div class="contact-map">
                 <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:500px;width:550px;'><div id='gmap_canvas' style='height:500px;width:550px;'></div><div><small><a href="http://embedgooglemaps.com">                  embed google maps             </a></small></div><div><small><a href="https://privacypolicygenerator.info">privacy policy generator</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:13,center:new google.maps.LatLng(22.717512718826498,75.87884149046975),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(22.717512718826498,75.87884149046975)});infowindow = new google.maps.InfoWindow({content:'<strong>My Residance Location</strong><br>Flat No - 304 mayuri apartment, LIg indore(M.P)<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Footer Bottom -->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="footer-inner">
          <!-- Bottom to Up Btn -->
          <button class="btn-floating btn-large up-btn"><i class="mdi-navigation-expand-less"></i></button>
         <p class="design-info">Designed By <a href="http://www.markups.io/">Er.Ganesh Shrivas</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>



