<!-- Start Resume -->
<section id="resume">
  <!-- Start Skill -->
  <section id="skill">
    <div class="container">
      <div class="skill-inner">
        <h2 class="title">Skills</h2>
        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>

        <!-- Start skills progress bar -->

        <div class="skill-progress-bar">
          <span>Html5</span>
          <div class="pro-bar-container color-wisteria">
            <div class="pro-bar bar-100 color-amethyst" data-pro-bar-percent="100"></div>
          </div>
          <span>css</span>
          <div class="pro-bar-container color-wisteria">
            <div class="pro-bar bar-90 color-amethyst" data-pro-bar-percent="90" data-pro-bar-delay="100"></div>
          </div>
          <span>Photoshop</span>
          <div class="pro-bar-container color-wisteria">
            <div class="pro-bar bar-80 color-amethyst" data-pro-bar-percent="80" data-pro-bar-delay="200"></div>
          </div>
          <span>Illustrator</span>
          <div class="pro-bar-container color-wisteria">
            <div class="pro-bar bar-70 color-amethyst" data-pro-bar-percent="70" data-pro-bar-delay="300"></div>
          </div>
          <span>Wordpress</span>
          <div class="pro-bar-container color-wisteria">
            <div class="pro-bar bar-60 color-amethyst" data-pro-bar-percent="60" data-pro-bar-delay="400"></div>
          </div>
          <span>jQuery</span>
          <div class="pro-bar-container color-wisteria">
            <div class="pro-bar bar-50 color-amethyst" data-pro-bar-percent="50" data-pro-bar-delay="500"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Experience -->
  <section id="experience">
    <div class="container">
      <div class="experience-inner">
        <h2 class="title">Experience</h2>
        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
        <div id="owl-carousel" class="experience-slider row">
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">January 2013 - Present</h2>
                <img class="activator" src="img/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">UX/UI Designer<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Windows Phone</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">UX/UI Designer<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">Windows Phone</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">January 2013 - Present</h2>
                <img class="activator" src="img/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">UX/UI Designer<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Android Phone</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">UX/UI Designer<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">Android Phone</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>

          <!-- Start Single Experience -->

          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">January 2013 - Present</h2>
                <img class="activator" src="img/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">UX/UI Designer<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Windows Phone</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">UX/UI Designer<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">Windows Phone</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">January 2013 - Present</h2>
                <img class="activator" src="img/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">UX/UI Designer<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Windows Phone</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">UX/UI Designer<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">Windows Phone</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">January 2013 - Present</h2>
                <img class="activator" src="img/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">UX/UI Designer<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Windows Phone</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">UX/UI Designer<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">Windows Phone</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">January 2013 - Present</h2>
                <img class="activator" src="img/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">UX/UI Designer<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Android Phone</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">UX/UI Designer<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">Android Phone</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">January 2013 - Present</h2>
                <img class="activator" src="img/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">UX/UI Designer<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Windows Phone</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">UX/UI Designer<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">Windows Phone</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">January 2013 - Present</h2>
                <img class="activator" src="img/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">UX/UI Designer<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Windows Phone</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">UX/UI Designer<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">Windows Phone</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">January 2013 - Present</h2>
                <img class="activator" src="img/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">UX/UI Designer<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Windows Phone</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">UX/UI Designer<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">Windows Phone</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>
        </div>
        <!-- owl navigation -->
        <div class="customNavigation">
          <a class="btn prev btn-floating waves-effect waves-light btn-large white"><i class="mdi-navigation-chevron-left brand-text"></i></a>
          <a class="btn next btn-floating waves-effect waves-light btn-large white"><i class="mdi-navigation-chevron-right brand-text"></i></a>                    
        </div>
      </div>
    </div>
  </section>
  <!-- Start Education -->
  <section id="edcuation">
    <div class="container">
      <div class="education-inner">
        <h2 class="title">Education</h2>
        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
        <div id="owl-carousel1" class="experience-slider row">
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">2012 - 2013</h2>
                <img class="activator" src="img/graduate-cap.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">Master Of Science<i class="material-icons right">more_vert</i></span>
                <p><a href="#">California University</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">Master Of Science<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">California University</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">2008 - 2012</h2>
                <img class="activator" src="img/graduate-cap.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">Bachelor Of Science<i class="material-icons right">more_vert</i></span>
                <p><a href="#">California University</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">Bachelor Of Science<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">California University</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                </p>
              </div>
            </div>
          </div>
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">2006 - 2008</h2>
                <img class="activator" src="img/graduate-cap.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">A Level<i class="material-icons right">more_vert</i></span>
                <p><a href="#">California College</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">A Level<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">California College</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">2004 - 2006</h2>
                <img class="activator" src="img/graduate-cap.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">O Level<i class="material-icons right">more_vert</i></span>
                <p><a href="#">California School</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">UX/UI Designer<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">Windows Phone</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>
          <!-- Start Single Experience -->
          <div class="col s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
              <h2 class="experience-title">2001 - 2004</h2>
                <img class="activator" src="img/graduate-cap.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator reveal-title">Primary School<i class="material-icons right">more_vert</i></span>
                <p><a href="#">California School</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title reveal-title">Primary School<i class="material-icons right">close</i></span>
                <a href="#" class="card-subtitle">California School</a>
                <p>Here is some more information about this product that is only revealed once clicked on.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
              </div>
            </div>
          </div>                   
        </div>
        <!-- owl navigation -->
        <div class="customNavigation">
          <a class="btn prev1 btn-floating waves-effect waves-light btn-large white"><i class="mdi-navigation-chevron-left brand-text"></i></a>
          <a class="btn next1 btn-floating waves-effect waves-light btn-large white"><i class="mdi-navigation-chevron-right brand-text"></i></a>                    
        </div>
      </div>
    </div>
  </section>
</section>
<!-- End resume -->